---
const pageTitle="关于我"

import Footer from '../components/Footer.astro';

import Header from '../components/Header.astro';

import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style>
      h1 {
        color: gray;
        font-size: 4rem;
      }
    </style>
	</head>
	<body>
        <Header />
        <h1>这是一个网站</h1>

        <h2>不知道是谁的网站</h2>

        <p>用来记录一些乱七八糟的心情和事情</p>
    </body>
    <Footer />
</html>
