---
const platform = "bilibili";
const username = "23422704";
---
<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #e62fc7;
    text-decoration: none;
  }
</style>

<footer>
  <p>在 <a href={`https://space.${platform}.com/${username}`}>{platform}</a> 上，一些我的流水账。</p>
</footer>